Car Agency/Car Agency/.vs
Car Agency/Car Agency/Car Agency/bin
Car Agency/Car Agency/Car Agency/obj
Car Agency/Car Agency/.vs/Car Agency/v15/.suo
Car Agency/Car Agency/.vs/Car Agency/v15/sqlite3/storage.ide
