<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Car_Agency.Properties.Settings.ConnectionString"
            connectionString="Data Source=MUHAMMAD-SAYED- ;Initial Catalog=CarAgencyDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>